
body{
	font-family: "Malgun Gothic";
}
section{
	display: flex;
	margin: 5vw 37vw 0 37vw;
}
section form select{
	border: 2px solid #C6D9EB;
	padding: 0.6vw 0.8vw 0.6vw 0.8vw;
	font-size: 1vw;
}

section form legend{
	font-size: 2.5vw;
	padding: 0 0 2vw 0;
	color: #ff0080;
	font-weight: bold;
}

section form label{
	display: block;
	padding: 0.4vw 0 0.4vw 0;
	font-size: 1.1vw;
	color: 	black;
	margin: 1vw 0 0.4vw 0;
}
section form input{
	font-size: 1vw;
	border: 2px solid pink;
	padding: 0.6vw 12vw 0.6vw 0.5vw;
}

section input.botao{
	border: 2px solid pink;
	background: white;
	padding: 0.4vw 0.8vw 0.4vw 0.8vw;
	color: #ff0080;
	margin: 4vw 0 2.5vw 11vw;
}

